

#header{
	width: 100%;
	display: block;
	text-align: center;
}

#title{
	margin: 100px auto 0px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}


#subtitle{
	margin: 10px auto;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}